.myself {
  padding-top: clamp(18rem, 12vw, 16rem);
  padding-bottom: clamp(12rem, 4vw, 14rem);
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.myself-text {
  font-size: clamp(2.6rem,6vw,8rem);
}

.biography {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: clamp(12rem, 16vw, 28rem);
}

.about-container {
  display: flex;
  justify-content: center;
}

.blue-img {
  object-fit: cover;
  width: clamp(30rem, 45vw, 55rem);
  border-radius: 1rem;
  margin-right: 10rem;
}

.about-text {
  width: clamp(30rem, 45vw, 55rem);
  text-align: justify;
  font-size: 2rem;
}

@media only screen and (max-width: 1320px) {
  .about-container {
    flex-direction: column;
    justify-content: center;
  }

  .myself {
    padding-top: clamp(14rem, 12vw, 16rem);
    padding-bottom: clamp(6rem, 4vw, 12rem);
  }

  .blue-img {
    border-radius: 1rem;
    margin-bottom: clamp(8rem, 4vw, 14rem);
    width: clamp(25rem, 70vw, 100rem);
    margin-right: 0;
  }
  .about-text {
    width: clamp(25rem, 70vw, 100rem);
    font-size: clamp(1.5rem, 1.9vw, 2.5rem);
  }

}