
.footer-icons {
  background-color: var(--nav-footer-color);
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.footer-name {
  background-color: var(--nav-footer-color);
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
}

.footer-scroll {
  font-size: 0rem;
  font-weight: bold;
  position: relative;
  transition: ease-in-out 0.5s;
  color: var(--main-text-color);
}

.footer-scroll span {
  font-size: 2.5rem;
  margin-left: 0.65rem;
  margin-right: 0.65rem;
}

.footer-scroll:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.footer-scroll:hover span {
  position: relative;
  display: inline-block;
  animation: flip 2.5s infinite;
  animation-delay: 0s;
}

@media only screen and (max-width: 500px) {
  .footer-scroll {
    transition: none;
  }
  .footer-scroll:hover {
    cursor: pointer;
    transform: none;
  }
  .footer-scroll:hover span {
    position: relative;
    display: inline-block;
    animation: none;
  }
}

@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg) 
  }
}

.fa-instagram:hover {
  transform: scale(1.25);
}

.fa-soundcloud:hover {
  transform: scale(1.25);
}

.copyright-notice {
  background-color: var(--nav-footer-color);
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
  font-size: 1.9rem;
}

.two-footer {
  object-fit: cover;
  border-radius: 50%;
  width: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.footer-logo {
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  transition: ease-in-out 0.5s;
}

.footer-logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}