
.footer-icons {
  background-color: var(--nav-footer-color);
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.footer-name {
  background-color: var(--nav-footer-color);
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.footer-scroll {
  font-size: 0;
  font-style: italic;
  font-weight: bold;
  color: var(--main-text-color);
  transition: ease-in-out 1.5s;
}

.footer-scroll span {
  font-size: clamp(3rem,5vw,8rem);
}

.footer-scroll:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.footer-scroll:hover span {
  position: relative;
  display: inline-block;
  animation: flip 2.5s infinite;
  animation-delay: 0s;
}

@media only screen and (max-width: 500px) {
  .footer-scroll {
    transition: none;
  }
  .footer-scroll:hover {
    cursor: pointer;
    transform: none;
  }
  .footer-scroll:hover span {
    position: relative;
    display: inline-block;
    animation: none;
  }
}

@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg) 
  }
}

.fa-instagram:hover {
  transform: scale(1.25);
}

.fa-linkedin:hover {
  transform: scale(1.25);
}

.fa-github:hover {
  transform: scale(1.25);
}

.fa-paper-plane:hover {
  transform: scale(1.25);
}

.copyright-notice {
  background-color: var(--nav-footer-color);
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 4rem;
  font-size: 1.7rem;
}