@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --main-bg-color: #E8E8E8;
  --nav-footer-color: #D3D3D3;
  --main-text-color: black;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: 'Bitter', serif;
}

body { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header{
  border-bottom: none;
}

.navbar {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4vw;
  background-color: var(--nav-footer-color);
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-text-color);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  display: inline-block;
  position: relative;
  font-size: 2.4rem;
  font-weight: 400;
  color: #404040;
  font-weight: bold;
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--main-text-color);
}

.nav-link:before {
  background: none repeat scroll 0 0 transparent;
  bottom: -25%;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: var(--main-text-color);
  color: var(--main-text-color);
  border-radius: 50%;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:before {
  width: 100%; 
  left: 0;
}

.nav-logo {
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
  position: relative;
  transition: ease-in-out 0.5s;
}

.nav-logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.nav-logo-text {
  color: var(--main-text-color);
}

@media only screen and (max-width: 500px) {
  .nav-logo {
    transition: none;
  }
  .nav-logo:hover {
    transform: none;
  }
}

@media only screen and (max-width: 880px) {
  .nav-list {
      position: fixed;
      left: -110%;
      top: 7.6rem;
      flex-direction: column;
      background-color: var(--nav-footer-color);
      width: 100%;
      border-radius: 0 0 15px 15px;
      text-align: center;
      transition: 0.5s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
      padding-bottom: 1rem;
  }

  .nav-list.active {
      left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

}