
.homepage {
  padding-top: clamp(10rem, 12vw, 18rem);
  padding-bottom: clamp(4rem, 4vw, 10rem);
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.home-text {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title-text {
  text-align: center;
  font-size: clamp(4rem,9vw,9rem);
  padding-left: 12rem;
  padding-right: 12rem;
}

.lines-img {
  object-fit: cover;
  /* margin-top: clamp(2rem, 2vw, 8rem); */
  width: clamp(30rem, 45vw, 90rem);
  border-radius: 1rem;
}

/* marquee styling below */
.recent-poems {
  padding-top: 0rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: clamp(2rem, 4vw, 10rem);
  margin-top: clamp(8rem, 6vw, 18rem);
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  /* marquee vars */
  --marquee-width: 80vw;
  --marquee-height: 20vh;
  --marquee-elements-displayed: 1;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 6s);
}

.recent-text {
  font-size: clamp(2rem,3vw,4rem);
}

.marquee {
  
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  overflow: hidden;
  position: relative;
}

.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 12rem;
  height: 100%;
  content: "";
  z-index: 3;
}

.marquee:before {
  left: 0;
  background: linear-gradient(to right, var(--main-bg-color) 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, var(--main-bg-color) 0%, transparent 100%);
}

.marquee-content {
  list-style: none;
  height: 50%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
  margin-top: 3vw;
  margin-bottom: 6vw;
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * 
  var(--marquee-elements))); }
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: clamp(1.5rem,3vw,4rem);
  white-space: nowrap;
}

.marquee-content li:hover {
  cursor: pointer;
}

.recent {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.recent-thing {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.recent-content {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.recent-thing a {
  cursor: pointer;
  margin-top: clamp(8rem, 4vw, 14rem);
  /* margin-bottom: clamp(8rem, 6vw, 18rem); */
}

.story-img {
  object-fit: cover;
  width: clamp(30rem, 35vw, 60rem);
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.buck-text {
  position: absolute;
  top: 20%;
  left: 50%;
  color: var(--main-text-color);
  transform: translate(-50%, -50%);
  font-size: clamp(2.8rem,6vw,7rem);
}

.buck-click {
  position: absolute;
  top: 30%;
  left: 50%;
  color: var(--main-text-color);
  transform: translate(-50%, -50%);
  font-size: clamp(1.2rem,2vw,2.5rem);
}

@media only screen and (max-width: 600px) {

  .recent-poems {
    
    --marquee-height: 14vh;
    --marquee-elements-displayed: 1;
    --marquee-animation-duration: calc(var(--marquee-elements) * 4s);
  }
  .marquee:before, .marquee:after { width: 8rem; }
}

@media only screen and (max-width: 1880px) {
  .homepage {
    padding-top: clamp(14rem, 12vw, 16rem);
    padding-bottom: 0;
    flex-direction: column;
  }
  .recent-content {
    flex-direction: column;
  }
  .title-text {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .typing-container {
    /* margin-top: clamp(4rem, 4vw, 14rem); */
    margin-top: clamp(2rem, 2vw, 6rem);
    margin-bottom: clamp(2rem, 1.5vw, 4rem);
  }

  .lines-img {
    /* margin-top: clamp(4rem, 4vw, 14rem); */
    /* margin-bottom: clamp(2rem, 6vw, 14rem); */
    width: clamp(30rem, 70vw, 100rem);
  }
  .home-text {
    width: clamp(30rem, 70vw, 100rem);
  }

  /* .what-text { font-size: clamp(2rem,6vw,6rem); } */
  .recent-thing {
    margin-top: clamp(4rem, 4vw, 14rem);
  }

  .recent-thing .story-img {
    width: clamp(30rem, 45vw, 60rem);
  }

  .recent-poems { margin-top: clamp(4rem, 4vw, 14rem); }

  .recent-thing a { margin-top: clamp(2rem, 4vw, 14rem); }
}