
.typing-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.art-text {
  font-size: clamp(2rem,5vw,5rem);
  margin-top: clamp(1rem, 2vw, 6rem);
}

.typewrite {
  font-size: clamp(2rem,5vw,5rem);
  margin-top: clamp(1rem, 2vw, 6rem);
  position: relative;
}

.typewrite::after {
  font-size: clamp(2rem,5vw,5rem);
  margin-top: clamp(1rem, 2vw, 6rem);
  content: '|';
  animation: blink 1.2s infinite;
}

@keyframes blink {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

