.preface {
  padding-top: clamp(18rem, 12vw, 16rem);
  padding-bottom: clamp(10rem, 3vw, 12rem);
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.preface-text {
  padding-bottom: clamp(8rem, 4vw, 10rem);
  font-size: clamp(4rem,7vw,9rem);
  align-items: center;
}

.preface-text p {
  text-align: justify;
  font-size: 2.2rem;
}

.lines-img {
  object-fit: cover;
  width: clamp(30rem, 60vw, 80rem);
  border-radius: 1.5rem;
}

.poem-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: clamp(30rem, 60vw, 80rem);
  border-radius: 2rem;
  background-color: var(--nav-footer-color);
  align-self: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: clamp(8rem, 8vw, 16rem);
  background-color: var(--nav-footer-color);
}

.poem-card h3 {
  font-size: 2.4rem;
  padding: clamp(1rem, 1vw, 6rem);
  padding-top: clamp(2rem, 3vw, 8rem);
  background-color: var(--nav-footer-color);
}

.poem-card p {
  padding: clamp(1rem, 1vw, 6rem);
  padding-top: 0.5rem;
  padding-bottom: clamp(5rem, 3vw, 10rem);
  text-align: justify;
  font-size: 2.2rem;
  border-radius: 4rem;
  background-color: var(--nav-footer-color);
}

.stories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stories {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.stories a {
  cursor: pointer;
  margin-bottom: clamp(8rem, 6vw, 18rem);
}

.story-img {
  object-fit: cover;
  width: clamp(30rem, 60vw, 80rem);
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.story-text {
  position: absolute;
  top: 20%;
  left: 50%;
  color: var(--main-text-color);
  transform: translate(-50%, -50%);
  font-size: clamp(2.8rem,6vw,7rem);
}

.story-click {
  position: absolute;
  top: 30%;
  left: 50%;
  color: var(--main-text-color);
  transform: translate(-50%, -50%);
  font-size: clamp(1.2rem,2vw,2.5rem);
}

.tale {
  background-color: var(--nav-footer-color);
  color: var(--main-text-color);
  font-family: 'Bitter', serif;
  font-weight: bold;
  font-size: 2.4rem;
  border-radius: 3rem;
  border: none;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  padding-top: clamp(0.5rem, 1.5vw, 4rem);
  padding-right: clamp(3rem, 6vw, 10rem);
  padding-left: clamp(3rem, 6vw, 10rem);
  padding-bottom: clamp(0.5rem, 1.5vw, 4rem);
  margin-bottom: clamp(8rem, 8vw, 16rem);
  transition: 0.2s;
}
.tale:hover {
  cursor: pointer;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.tale:active {
  opacity: 0.9;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
  /*  background-color: #C0C0C0;  */
}

@media only screen and (max-width: 1335px) {
  
  .preface {
    padding-top: clamp(12rem, 10vw, 16rem);
    padding-bottom: clamp(4rem, 3vw, 12rem);
  }

  .preface-text {
    padding-bottom: clamp(4rem, 3vw, 12rem);
  }

  .poem-card h3 {
    font-size: clamp(1.5rem, 1.9vw, 2.5rem);
  }

  .poem-card p {
    font-size: clamp(1.3rem, 1.9vw, 2.5rem);
    padding-bottom: clamp(3rem, 6vw, 8rem);
  }

  .tales-text p {
    font-size: clamp(0.5rem, 1.9vw, 2.5rem);
  }

  .tale {
    border-radius: clamp(1rem, 1.9vw, 2.5rem);
    font-size: clamp(1.5rem, 1.9vw, 2.5rem);
  }

  .tale-titles {
    width: clamp(30rem, 60vw, 80rem);
  }

  .stories a {
    margin-bottom: clamp(6rem, 6vw, 18rem);
  }
}